$primary: #1C3F70;
$primary-text: #1C3F70;
$primary-accent: #f0f0f0;
$primary-hover: #2d5aa3;
$primary-active: #172c4e;
$primary-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);

$secondary: #81beff;
$secondary-accent: #000;
$secondary-hover: #a6d8f2;
$secondary-active: #6bbad7;

$tertiary: #F2F2F2;

$tertiary: #F2F2F2;
$accent: #FFD700;
$error: #FF4C4C;
$success: #2ECC71;
$text: #333;

$padding-1: 4px;
$padding-2: 8px;
$padding-3: 16px;
$padding-4: 24px;
$padding-5: 32px;

$button-bg: $primary;
$button-color: $primary-accent;