@import '@vars';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body {
  padding: 0;
  margin: 0 auto;
  max-width: 2000px;
  font-size: 18px;
  // background: linear-gradient(159deg, rgb(188 194 251) 0%, rgb(0 4 15) 0%, rgb(0 29 113) 100%);
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3 {
  font-size: 18px;
  color: $primary-text
}

h1 {
  text-align: center;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  list-style: none;
}

.view {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 40px;

  .text-container {
    width: 35%;
    margin-right: 40px;
  }
}