@import '@vars';

.scene {
    width: 800px;
    border-radius: 10px;
    background: rgb(236, 236, 236);
    padding: 24px;
    text-align: center;

    .scene-number {
        font-weight: 700;
        text-align: left;
        margin-bottom: 8px;
        font-size: 22px;
    }

    .image-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .images-thumbnails {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow: scroll;
            padding: 11px 0;
            margin-bottom: 24px;

            .image-thumbnail-container {
                border-radius: 4px;

                &.active {
                    .image-thumbnail {
                        border: 2px solid $accent;
                    }
                }

                &:hover {
                    .image-thumbnail {
                        box-shadow: 0 0 11px rgba(13, 33, 110, .8);
                    }
                }

                .image-thumbnail {
                    border-radius: 4px;
                    width: 83px;
                    height: 83px;
                    margin: 0 8px;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;
                }
            }
        }

        .image-preview {
            width: 360px;
            height: 360px;
            margin-bottom: 16px;
            border-radius: 10px;
            background-color: rgb(220, 220, 220);

            &.placeholder {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 999px;
                color: grey;

                .icon {
                    width: 200px;
                    margin: 0 auto;
                }
            }
        }
    }



    .input-container {
        display: flex;
        align-items: end;


        .textarea-with-label {
            width: 100%;
            margin-right: 24px;
        }
    }

    .voice-over-input-container {
        .textarea-with-label .dynamic-ser {
            font-size: 20px;
        }

        margin-top: 16px;
        opacity: 0.8;
    }
}

.add-scene-button {
    margin: 24px 0;
}